@{
    ViewData["Title"] = "Home";

}
<body style="background-color: #f6f8ff;">
    <h1 class="border-success Titulo mb-4">Cadastros</h1>

    <div class="row">
        <div class="card-deck">
            <a asp-action="CadastroAnuncio" class="btn btn-secondary btn-lg">Novo Anúncio</a>
            <a asp-action="ListagemAnuncio" class="btn btn-secondary btn-lg">Anúncios</a>
            <a asp-action="CadastroModelo" class="btn btn-secondary btn-lg">Novo Modelo</a>
            <a asp-action="CadastroMarca" class="btn btn-secondary btn-lg">Novo Marca</a>

        </div>
    </div>
</body>